{:header "mongodb"
 :title
 "A [pallet](http://palletops.com/) crate to install and configure
 [mongodb](http://www.mongodb.org/)."
 :git-repo "https://github.com/pallet/mongodb-crate"
 :api-docs "http://palletops.com/mongodb-crate/0.8/api"
 :annotated-docs "http://palletops.com/mongodb-crate/0.8/annotated/uberdoc.html"
 :tag-prefix ""
 :artifact-id "mongodb-crate"
 :source-path "src/pallet/crate/mongodb.clj"
 :versions [{:pallet "0.8.0-RC.3" :version "0.8.0-SNAPSHOT"}]}
